<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.you.www"
	version 	= "1.0.0">

	<name>BLETest</name>

	<description>
		A BLE applcation with BCSphere.
	</description>

	<author href="build.phonegap.com"
		email="">
		Mr. Mobile BLE
	</author>

	<icon src="icon.png" gap:role="default" />

	<content src="index.html" />
    <access origin="*" />
    <preference name='phonegap-version' value='cli-5.1.1' />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
	<gap:plugin name="com.megster.cordova.bluetoothserial" version="0.2.2" />
</widget>
